body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(81, 46, 221);
    background-image: url(dc-universe-infinite.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}

.container{
    background-color: #544998;
    width: 500px;
    
    max-width: 50%;
    margin: auto;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #161616
}

.foto1{
    align-items: center;
    /* width: 20%;
    height: 200px; */
    max-width: 40%;
    max-height: 30%;
    margin-bottom: 7%;
    text-align: center;
    align-items: center;
    margin: auto;
    
    

}

input#nome {
    width: 100%;
    height: 34px;
   
    box-sizing: border-box;
}

input#data{
    width: 100%;
    height: 34px;
    
    box-sizing: border-box;
}

input#email {
    width: 100%;
    height: 34px;
   
    box-sizing: border-box;
}

input#senha {
    width: 100%;
    height: 34px;
   
    box-sizing: border-box;
}

.checkbox{
    width: 100%;
    height: 34px; 
}

.Gostos{
   display: inline-block;
}